/* Site Variables */
$min-site-width: 320px;
$container-width: 1217px;

/* Colors */
$color-black: #101010;
$color-dark-gray: #232323;
$color-gray: #868686;
$color-light-gray: #f3f3f3;
$color-white: #fff;
$color-primary: #e2beff;
$color-secondary: #f8d5c3;

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
