/* Site Variables */
$min-site-width: 320px;
$container-width: 1217px;

/* Colors */
$color-black: #101010;
$color-dark-gray: #232323;
$color-gray: #868686;
$color-light-gray: #F3F3F3;
$color-white: #FFF;
$color-primary: #E2BEFF;

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
