@use '../../variables' as *;

.app-news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: $color-white;
  transition: transform 0.2s ease;

  &__image-wrapper {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: $color-secondary;
  }

  &__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  &__content {
    display: -webkit-box;
    margin: 1.5rem 0 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    font-size: 1.25rem;
    line-height: 1.2;
    -webkit-box-orient: vertical;
  }

  &__link {
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: block;
    font-size: 1.25rem;
    color: $color-primary;
    opacity: 0;
    transform: translateY(-1rem);
  }

  &:hover {
    transform: translateY(-1rem);

    .app-news-card__link {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

