@use '../../variables' as *;

.app-footer {
  position: relative;
  padding: 8.75rem 0 1.875rem;
  overflow: hidden;
  color: $color-black;

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__content {
    display: flex;
    gap: 23rem;
    justify-content: space-between;
  }

  &__left {
    flex-shrink: 0;
    max-width: 29rem;
  }

  &__question {
    font-size: 1rem;
  }

  &__title {
    margin-top: 3.5rem;
    font-size: 7rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
    text-underline-offset: 0.8rem;
  }

  &__right {
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    gap: 2.25rem;
  }

  &__contact-section {
    line-height: 1.2;

    p {
      margin: 0;
    }
  }

  &__contact-title {
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }

  &__icon-placeholder {
    margin-top: 0.5rem;
  }

  &__bottom {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }

  &__social-links,
  &__policy-links {
    display: flex;
    gap: 2rem;
  }

  &__go-btn {
    position: absolute;
    bottom: -11.1875rem;
    left: 50%;
    width: 22.375rem;
    height: 19.125rem;
    padding-bottom: 3.25rem;
    font-size: 2rem;
    color: $color-white;
    background-color: $color-black;
    border: none;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: transform 0.2s ease;
  }
}
