@use '../../variables' as *;

.app-button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  transition: all 0.2s ease;

  &--dark {
    color: $color-white;
    background-color: $color-black;
    border: none;

    &:hover {
      background-color: #333;
    }
  }

  &--light {
    color: $color-black;
    background-color: $color-white;
    border: 0.125rem solid #0000001a;

    &:hover {
      background-color: #e0e0e0;
    }
  }

  &--small {
    padding: 0.75rem;
    font-size: 1rem;
  }

  &--rounded {
    border-radius: 624.9375rem;
  }

  &--link {
    padding: 0;
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: none;

    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }

  img,
  svg {
    display: block;
  }
}
