@use '../../variables' as *;

.app-logo {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__svg {
    width: 100%;
    height: auto;
  }
}
